    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: "Fira Sans", sans-serif;
    }
    
    .container {
        width: 1140px;
        margin: 0 auto;
    }
    
    .header {
        background-image: url(header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 150px 0;
    }
    
    .navbar {
        display: flex;
        border: 1px solid #bfc7d4;
        border-radius: 5px;
        min-height: 70px;
        position: absolute;
        top: 30px;
        left: 50px;
        right: 50px;
        margin: auto;
        width: 80%;
        max-width: 1049px;
        border: 1px solid rgba(234, 240, 252, 0.555);
        border-radius: 0.2rem;
        z-index: 9999;
        transition: all, 0.33s;
        padding: 0px;
    }
    
    .nav-link.active {
        color: #ff214f
    }
    
    .logo {
        width: 30%;
    }
    
    .logo img {
        width: 60px;
        height: 60px;
        padding-left: 30px;
    }
    
    .navlist {
        width: 70%;
    }
    
    .navlist ul {
        padding-top: 23px;
    }
    
    .navlist ul li {
        display: inline-block;
    }
    
    .navlist ul li a {
        text-decoration: none;
        color: #ffff;
        font-size: 17px;
        font-weight: 600;
        padding-right: 15px;
    }
    
    .hero h2 {
        color: #ffff;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        margin-top: 90px;
        letter-spacing: 4px;
    }
    
    .hero h1 {
        color: #ffff;
        text-align: center;
        font-size: 110px;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 6px 0;
    }
    
    .hero-btn {
        margin: 35px 0;
    }
    
    .hero-btn ul {
        text-align: center;
    }
    
    .hero-btn ul li {
        display: inline-block;
    }
    
    .hero-btn ul li a {
        text-decoration: none;
        padding: 13px 20px;
        font-size: 20px;
        border-radius: 30px;
        color: #ffff;
    }
    
    #ser {
        background: #FF214F;
    }
    
    #con {
        background: rgba(2, 2, 2, 0);
        border: 1px solid #ffff;
    }
    
    .banner-section {
        height: 290px;
        width: 1052px;
        display: flex;
        margin-top: 150px;
        margin-left: 127px;
    }
    
    .sub-banner {
        height: 287px;
        width: 353px;
        background: rgb(247, 244, 244);
        border-right: 1px solid rgba(83, 82, 82, 0.075);
        text-align: center;
        box-shadow: 0px 2px 5px -2px rgb(3 3 3 / 73%);
    }
    
    .fa-solid {
        color: #ff214f;
        font-size: 50px;
        margin-top: 35px;
    }
    
    .sub-banner h2 {
        padding: -200px;
    }
    
    .sub-banner p {
        font-size: 16px;
        color: #495057;
    }
    
    .global-section {
        padding: 3rem;
        margin-top: 70px;
        width: 1150px;
        margin-left: 80px;
    }
    
    .about-main-div {
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        padding: 3rem 0;
    }
    
    .about-main-div img {
        width: 339px;
        height: 339px;
        padding: 5px;
        border: 0.5px solid #70707093;
    }
    
    .about-main-div2 {
        width: 500px;
    }
    
    .we-cre {
        color: rgb(128, 128, 128);
        font-size: 24px;
    }
    
    .awsome {
        font-size: 28px;
    }
    
    .about {
        text-align: justify;
    }
    
    .global-section-one {
        background: url(section.jpg);
        background-position-x: center;
        background-position-y: center;
        background-size: initial;
        background-attachment: fixed;
        background-origin: initial;
        background-clip: initial;
        background-color: rgba(5, 4, 4, 0.795);
        background-blend-mode: overlay;
        width: 100%;
        height: 70vh;
    }
    
    .global-p-one {
        font-size: 25px;
        text-align: center;
        padding-top: 20px;
        color: white;
    }
    
    .global-heading-one {
        font-size: 45px;
        text-align: center;
        margin-top: 2px;
        color: white;
    }
    
    .other-main-section {
        display: flex;
        margin: 20px 20px;
        justify-content: space-around;
        margin-top: 60px;
    }
    
    .icon-section {
        width: 180px;
        height: 180px;
        margin-top: -20px;
        border: 3px solid #ff214f;
        border-radius: 50%;
        text-align: center;
    }
    
    .icon-section i {
        font-size: 50px;
        color: #ff214f;
        text-align: center;
        padding: 30px;
        margin-top: 10px;
    }
    
    .icon-section h2 {
        color: #fff;
        margin-top: 3px;
    }
    
    .service-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .global-section {
        margin-top: 90px;
        background-color: rgb(255, 255, 255);
    }
    
    .global-ptag {
        font-size: 25px;
        text-align: center;
        padding-top: 20px;
        color: #616970;
        font-weight: 200;
    }
    
    .global-heading {
        font-size: 45px;
        text-align: center;
        font-weight: 200;
        margin-top: 0;
    }
    
    .service-container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .sub-container {
        /* margin-top: 30px;
    box-shadow: 4px 5px 8px 5px gray; */
        width: 250px;
        height: 241px;
        margin: auto;
        border: 1px solid rgba(128, 128, 128, 0.247);
        border-radius: 3px;
        text-align: left;
        padding: 20px;
    }
    
    .icone-custom {
        color: rgb(255, 64, 64);
        font-size: 45px;
        margin: 20px 0 20px 0;
    }
    
    .sub-container h3 {
        font-size: 16px;
        font-weight: 200;
        margin: 10px 0 10px 0;
    }
    
    .sub-container p {
        font-size: 16px;
        font-weight: 200;
        color: #616970;
        text-align: justify;
    }
    
    .porfolio-section {
        display: grid;
        grid-template-columns: auto auto auto;
        /* justify-content: center; */
        gap: 30px;
        background-color: rgb(241, 241, 241);
        /* box-shadow: 0 5px 4px 0 grey; */
    }
    
    .porfolio-section img {
        width: 100%;
        /* height: min-content; */
    }
    
    .porfolio-sub-div .img_4,
    .img_5,
    .img_6 {
        margin-top: 23px;
    }
    
    .main-angel-container {
        max-width: 1150px;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 25px;
        text-align: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    
    .angel-container {
        width: 348px;
        height: 550px;
        margin: auto;
        border: 1px solid rgba(128, 128, 128, 0.247);
        border-radius: 3px;
        text-align: center;
        /* padding: 20px; */
    }
    
    .angel-container .img-item {
        max-width: 314px;
        height: 314px;
        margin: 15px auto 0 auto;
        border-radius: 3px;
    }
    
    .angel-container .head-main-title {
        font-size: 14px;
        font-weight: 500;
        color: #ff0033;
    }
    
    .angel-container h1 {
        font-weight: 400;
        font-size: 20px;
        margin: 10px auto;
        color: black;
    }
    
    .angel-container .angel-description {
        font-size: 16px;
        font-weight: 400;
        color: #616970;
        padding: 10px auto auto auto;
    }
    
    .angel-container .icone-container a {
        font-size: 25px;
        margin: 10px auto auto auto;
        color: #ff0033;
        letter-spacing: 5px;
    }
    
    .global-section1 {
        background-color: rgba(0, 0, 0, 0.699);
        background-blend-mode: overlay;
        width: 100%;
        height: 70vh;
    }
    
    .global-ptag1 {
        font-size: 15px;
        text-align: center;
        padding-top: 20px;
        color: white;
    }
    
    .global-heading1 {
        font-size: 35px;
        text-align: center;
        margin-top: 2px;
        color: white;
        font-weight: 400;
        margin-bottom: 15px;
    }
    
    .other-main-section1 {
        display: flex;
        justify-content: center;
        gap: 50px;
        text-align: center;
        text-align: center;
    }
    
    .icon-section1 {
        border-right: 1px solid rgba(141, 140, 140, 0.26);
        padding: 20px;
        margin-left: 10px;
        text-align: center;
    }
    
    .icon-section1 i {
        font-size: 50px;
        text-align: center;
    }
    
    .icon-section1 i:hover {
        font-size: 100px;
    }
    
    .icon-section1 .fun-heading {
        font-size: 40px;
        color: rgb(226, 212, 212);
        margin-top: 15px;
    }
    
    .icon-section1 .fun-sub-heading {
        color: #fff;
        margin-top: 10px;
    }
    
    .clients-container {
        display: flex;
        justify-content: center;
        gap: 55px;
    }
    
    .sub-clients-container {
        display: flex;
        width: fit-content;
        justify-content: center;
        gap: 15px;
        padding: 10px;
        /* margin: auto 20px auto -20px; */
        border: 1px solid rgba(241, 240, 240, 0.705);
    }
    
    .clients-img {
        width: 80px;
        border-radius: 50%;
        margin: 20px 20px auto -50px;
    }
    
    .intro-video {
        margin-top: 100px;
        display: grid;
        grid-template-columns: auto;
        /* justify-content: center; */
        text-align: center;
        align-items: center;
    }
    
    .fun-icone1 {
        display: flex;
        justify-content: center;
        color: crimson;
        font-size: 100px;
        margin-top: 125px;
    }
    
    .video-heading {
        color: white;
        margin-top: 15px;
        text-align: center;
        font-size: 50px;
    }
    
    .blog-main-container {
        display: flex;
        justify-content: center;
        gap: 35px;
        padding: 20px;
    }
    
    .blog-main-container {
        max-width: 1150px;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 25px;
        text-align: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    
    .blog-container {
        width: 348px;
        height: 550px;
        margin: auto;
        border: 1px solid rgba(128, 128, 128, 0.247);
        border-radius: 3px;
        text-align: center;
    }
    
    .blog-img {
        width: 230px;
    }
    
    .color-heading {
        display: block;
        font-size: 1rem;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: #ff0033;
    }
    
    .head-title {
        color: #495057;
    }
    
    .section 1 {
        text align: left;
    }